{% extends 'base.html' %}

{% block title %}Dester - Resume{% endblock %}

{% block body_class %}resume-page{% endblock %}

{% block main %}
  
<!-- Resume Section -->
<section id="resume" class="resume section">

  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Resume</h2>
    <div><span class="description-title">Lebenslauf 📚</span></div>
    </div>

    <div class="row">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Bildungsweg</h3>

        <div class="resume-item">
          <h4>Student (informatik bsc)</h4>
          <h5 class="datum">April 2023 - heute</h5>
          <p><em>Hochschule Darmstadt, Darmstadt, Deutschland</em></p>
          <p>Algorithmen und Datenstrukturen, Programmieren 1 &amp; 2 (C++), Entwicklung Webbasierte Anwendungen (HTML, CSS, PHP, JavaScript), Software Engineering, Datenbanken, Rechnerarchitektur, Human Computer Interaction (React), Verteilte Systeme, Einführung in die KI...</p>
        </div><!-- End Resume Item -->

        <!-- <h3 class="resume-title">Education</h3> -->
        <div class="resume-item">
          <h4>Sprachschüler</h4>
          <h5 class="datum">August 2022 - Oktober 2022</h5>
          <p><em>Universität Mannheim, Mannheim, Deutschland</em></p>
          <p>Vorbereitung zur <em>Deutsche Sprachprüfung für den Hochschulzugang (DSH)</em> und Abschluss mit <em>DSH3</em></p>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Sprachschüler</h4>
          <h5 class="datum">2019 - August 2020</h5>
          <p><em>ETALL Sprachlernzentrum, Jaunde, Kamerun</em></p>
          <p>Deutschkurse und Abscluss mit Goethe-Zertifikat B2</p>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Schüler (Sekundarschüle)</h4>
          <h5 class="datum">2011 - August 2018</h5>
          <p><em>Government Bilingual High School Etoug-Ebe, Jaunde, Kamerun</em></p>
          <p>Abitur - Hauptfach Mathematik und Physik</p>
        </div><!-- Edn Resume Item -->

      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <h3 class="resume-title">Berufliche Erfahrung</h3>
        <div class="resume-item">
          <h4>Praktikant</h4>
          <h5 class="datum">Januar 2021 - Juni 2022</h5>
          <p><em>Sagicam International, Jaunde, Kamerun</em></p>
          <p>Praktikum in der IT-Wartung & Grundlagen der Programierung (C)</p>
        </div><!-- Edn Resume Item -->

      </div>

    </div>

  </div>

</section><!-- /Resume Section -->
{% endblock %}